body {
  background-color: #f6f8fa;
}
.full-width {
  width: 100%;
  min-height: 100%;
}
.center-content {
  display: flex;
  justify-content: center;
  align-self: flex-start;
}
.center-content .form_block {
  max-width: 820px;
  position: relative;
  background: #fff;
}
.center-content .form_block .form_block__wrapper {
  padding: 15px 30px 10px 30px;
}
.center-content .form_block .form_block__wrapper .form_block__header span.md-display-1 {
  color: #333;
}
.center-content .form_block .form_block__wrapper .form_layout--block {
  margin-top: 20px;
}

